{% extends 'Box/base.html' %}
{% load static %}

{% block content %}
    <section class="deposit">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form method="post">
                        <h3>Deposit</h3>

                        <input type="number" placeholder="Amount" required>

                        <button type="submit">Deposit</button>
                    </form>
                    <center>
                        <span>OR</span>
                    </center>
                    <div class="mpesa">
                        <ol>
                            <li>Go to the Mpesa menu on your phone</li>
                            <li>Select PayBill option(Under Lipa na M-pesa option)</li>
                            <li>Enter Business Number</li>
                            <li>Enter Account Number</li>
                            <li>Enter your prefered amount</li>
                            <li>Enter your M-pesa pin</li>
                            <li>Confirm by clicking ok</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}